{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class=" card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur illum molestias unde eius fuga et! Voluptas illum at laudantium sit eum corrupti. Unde, repellat dignissimos suscipit accusamus repudiandae officia quam vero quis natus! Harum ipsa distinctio in dolore, voluptatem assumenda corrupti cum rerum nesciunt ipsam beatae quod omnis quisquam voluptatum maiores vero nihil numquam consectetur vel blanditiis ullam voluptatibus quia? Aperiam 
        numquam libero expedita ullam magnam praesentium? Quos ipsum voluptas voluptatum totam repellendus labore,
        dolores quam accusamus ab laborum fuga ut rem repudiandae dicta cum quas iusto. Commodi quasi consequuntur 
        tempore, labore at, impedit voluptates reprehenderit animi fuga fugiat cumque.</p>
<div class="text-center">
    <a class="btn btn-secondary" href="/signin/">
        Signin 
    </a>
    <a class="btn btn-dark"href="/signup/">
        Signup 
    </a>
</div>
    </section>
</main>


{% endblock %}
